[submodule "Simple-Tiled-Implementation"]
	path = Simple-Tiled-Implementation
	url = git@github.com:maxha651/Simple-Tiled-Implementation.git
[submodule "tactile"]
	path = tactile
	url = https://github.com/tesselode/tactile.git
[submodule "anim8"]
	path = anim8
	url = https://github.com/kikito/anim8.git
[submodule "shine"]
	path = shine
	url = https://github.com/vrld/shine.git
